page-autresrameaux {
  .autresrameaux-gen-content {
    background: #56CA96;
    
	.autresrameaux-content {
		height: 100%;
		width: 100%;
		max-width: 60rem;
		display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: espace-between;
			align-content: center;
		align-item:center;
		margin: auto;
		background: #FFFFFFF
    }
	}
}
