page-menu {

	.container{
		display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-content: center;
		align-item:center;
		width: 100%;
		height: 100%;
		background: #FFFFFF
	}

	.login-content {
		background: #56CA96;
		height: 100%;
		width: 100%;
		max-width: 40rem;
		display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: espace-between;
			align-content: center;
		align-item:center;
		margin: auto;
 
    .logo-row {
		padding-top: 50px;
		padding-bottom: 20px;
    }
 
    .login-box {
		background: #509287;
		padding: 20px 20px 0px 20px;
		margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
    }
 
    ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 0px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
    }
 
    .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
    }
 
    .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
    }
 
    .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
    }
 
    .register-btn {
       color: #ffffff;
       font-size: 0.8em;
    }
  }
}